header>nav>ul>li{
  list-style-type: none;
  display: inline-block;
  margin-right: 20pt;
  font-size: 16px;
}
header>nav>ul>li>a{
    text-decoration: none;
}
#man{
  color: black;
  border-radius: 15%;
  text-align: center;
  height: 400px;
  margin-left: 200pt;
  margin-right: 200pt;
}
#man>p #coder>p{
  padding-top: 50pt;
}
#coder{
  color: black;
  text-align: center;
  height: 400px;
  margin-left: 200pt;
  margin-right: 200pt;

}
#petrol{
  color: black;
  border-radius: 15%;
  text-align: center;
  height: 400px;
  margin-left: 200pt;
  margin-right: 200pt;
  margin-top: 100px;
}
body{
  background-image: linear-gradient(#fdfffc, #e2e2e2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt; 
  margin: 0 auto;
}
#man img{
  border-radius: 15px;
  box-shadow: 0px 0px 12px 12px rgb(82, 91, 93);
  float: right;
}
#coder img{
  border-radius: 15px;
  box-shadow: 0px 0px 12px 12px rgb(82, 91, 93);
  float: right;
}
#petrol img{
  border-radius: 15px;
  box-shadow: 0px 0px 12px 12px rgb(82, 91, 93);
  float: right;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50pt;
  text-align: center;
  margin-top: 80px;
}
h2{
  color: dimgray;
}
p{
  width: 200pt;
  color: rgb(37, 94, 122);

}
#contact{
  float: right;
  margin-right: 100px;
}
#about{
  width: 50%;
  float: left;
  margin-left: 100px;
}
#coder>ul>li{
  list-style-type: none;
  margin-right: 70%;
  color: brown;
  font-size: 22px;
}
nav>ul{
  margin-left: 60%;
  }
#nav{
  position: fixed; 
  top: 0;
  width: 100%;
  background-color: #fdfffc;
  box-shadow: 0px 0px 5px 5px #fdfffc;
}
#foot{
  font-size: 13px;
  margin-top: 10px;
  border-top: 3px solid darkslategrey;
}